<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="customers-div">
	<h1>Filiais</h1>

	<h3><%= link_to 'Cadastrar uma filial', new_subsidiary_path%></h3>

	<% if @subsidiaries.empty? %>
		<%= 'Nenhuma filial cadastrada' %>
	<% end %>

	<% @subsidiaries.each do |subsidiary| %>
		<div class="each-manufacturer">
			<%= link_to subsidiary.name, subsidiary %>
		</div>
	<% end %>
</div>
