<h3 class="link-to-back"><%= link_to 'Voltar', customers_path %></h3>

<%= render "search_field" %>

<% if @customers.any? %>
	<%= render "table" %>
<% else %>
	<p class="msg-error">
		<%= "Nenhum resultado encontrado para: #{@q}" %>
	</p>
<% end %>
