<div class="field-seach">

	<p class="inst-seach">Pesquise por um codigo para iniciar a locação</p>
	<%= form_with url: search_rentals_path, method: :get, local: true do |f| %>
		<%= f.label :q, 'Código' %>
		<%= f.text_field :q%>
		<button class="button-busca" type="submit">Buscar</button>
	<% end %>
</div>
