<h3 class="link-to-back"><%= link_to 'Voltar', rentals_path %></h3>

<div class="form-session">
	<h1>Nova locação</h1>
	<h3>Preencha o formulário abaixo para agendar uma locação</h3>

	<%= render "form" %>
</div>
