/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	
	padding: 0;
}

/*Menu de session - usuario nao logado*/
.menu {
	display: flex;
	justify-content: space-between;
}

/*Logo*/
.logo {
	margin-top: -1%;
	margin-left: 1%;
}

/*Entrar*/
.li-entrar {
	margin-top: 5%;
	margin-right: 5%;
	color: pink;
}

/*Itens*/
.menu li {
	list-style: none;
}

/*Todos os elementos de home/index*/
.home-page {
	text-align: center;
}

/*Todos os links de home/index*/
.links {
	display: grid;
	grid-template-columns: repeat(3, 200px);
}

/*Para cada link em home/index*/
.links li {
	padding: 10px 10px;
	list-style: none;
	color: #9370db;
}

.links li:hover {
	transition: 0.5s;
	color: gray;
}

/*Tablet*/
@media screen and (min-width: 1000px) {
	/*Entrar*/
	.li-entrar {
		margin-top: 2%;
	}
}
