/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.menu a {
	color: #0e9f59;
}

/*Menu de session - usuario nao logado*/
.menu {
	display: flex;
	justify-content: space-between;
}

/*Link para sair*/
.li-sair {
	margin-right: 5%;
}


/*Alugue agora*/
.dropdown button {
	width: 150%;
	text-align: center;
	background-color: rgb(50, 86, 161);
	border-color: transparent;
	height: 30px;
	border-radius: 25px;
	padding: 3%;
	font-size: 15px;
	color: white;
	font-weight: bold;
}

/*Logo*/
.logo {
	margin-top: -1%;
	margin-left: 5%;
}

/*Voltar*/
.link-to-back {
	width: 100px;
	text-align: center;
	background-color: #dddaf4 ;
	border-color: transparent;
	height: 30px;
	border-radius: 25px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-left: 5%;
	margin-bottom: 3%;	
	padding-top: 10px;
}

/*Editar*/
table .link-editar a {
	color: orange;
}

table .link-editar a:hover {
	color: #e26f00;
}

/*Excluir*/
table .link-excluir a {
	color: gray;
}

table .link-excluir a:hover {
	color: red;
}

/*Ver detalhes - car models*/
table .link-ver-detalhes a {
	background-color: black; 
	color: white;
	width: 100px;
	height: 30px;
	padding: 2%;
	font-size: 15px;
}

table .link-ver-detalhes a:hover {
	transition: 0.5s;
	background-color: #20b2aa;
	color: black;
}

/*Campo de Busca*/
.field-seach {
	margin-left: 5%;
	align-elements: left;
	text-align: left;
}

/*Botao de busca*/
.button-busca {
	padding: 1%;
	border-radius: 5px;
	border-color: transparent;
}

/*Espacamento dos dados das tabelas*/
td {
	padding: 1%;
}

/*Botao de submit dos formularios (new and edit) */
.button-enviar-form {
	width: 75%;
	text-align: center;
	background-color: #11c76f;
	border-color: transparent;
	padding: 2%;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-bottom: 3%;
}

.button-enviar-form:hover {
	transition: 0.5s;
	background-color: #0e9f59;
}

/*Entrar*/
.li-entrar {
	margin-top: 5%;
	margin-right: 5%;
	color: pink;
}

/*Itens*/
.menu li, .dropdown {
	list-style: none;
	margin-top: 2%;
}



.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 20px 20px;
	z-index: 1;
}

.dropdown-content li {
	padding: 3%;
}

.dropdown-content li:hover {
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*Todos os elementos de home/index*/
.home-page {
	text-align: center;
	background-color: #11c76f;
	height: 100vh;
	color: white;
}

.home-page h1 {
	padding-top: 10%;
	font-size: 50px;
} 

.home-page h2 {
	font-size: 30px;
} 	

/*Para deixar alguma info em vermelho*/
.alert-red {
	color: red;
}

/*Para deixar alguma info em verde*/
.alert-green {
	color: #32cd32;
}


/*Desktop*/
@media screen and (min-width: 1000px) {
	/*Entrar*/
	.li-entrar {
		margin-top: 2%;
	}
	/*Botao de busca*/
	.button-busca {
		padding: 0.5%;
	}
	/*Botao de submit dos formularios (new and edit) */
	.button-enviar-form {
		width: 32%;
		padding: 0.5%;
	}
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1000px){
	/*Botao de submit dos formularios (new and edit) */
	.button-enviar-form {
		width: 53.5%;
		padding: 0.5%;
	}
}

/*Mobile*/
@media screen and (max-width: 700px) {
	/*Menu de session - usuario nao logado*/
	.menu {
		display: block;
		box-shadow: none;
		padding: 5%;

	}

	/*Entrar*/
	.li-entrar {
		text-align: center;
		margin-top: -5%;
		margin-bottom: 5%;
	}

	.dropdown button {
		width: 35%;
		padding: 0%;
	}

	.home-page h1 {
		padding-top: 40%;
		margin-bottom: 5%;
	}

	/*Campo de Busca*/
	.field-seach {
		margin-left: 5%;
		align-elements: center;
		text-align: center;
	}

	/*Ver detalhes - car models*/
	table .link-ver-detalhes a {
		padding: 3%;
	}
	
	/*Espacamento dos dados das tabelas*/
	td {
		padding: 2%;
	}
}









