@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

.customers-div, table {
	background-color: #f9f9f9;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 100%;
	
}

/*Lista de Clientes*/
.customers-div h1 {
	margin-bottom: 5%;
}

/*Cadastrar novo cliente*/
.customers-div h3 {
	margin-bottom: 5%;
	background-color: orange;
	width: 50%;
	padding: 3%;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.customers-div h3:hover {
	transition: 0.5s;
	background-color: #e26f00;
}

/*Titulo do formulario*/
.form-session h1 {
	margin-bottom: 5%;
}

/*Responsividade*/

/*Desktop*/
@media screen and (min-width: 1000px){
	.customers-div h3 {
		padding: 1%;
		width: 20%;
	}
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1000px){
	.customers-div h3 {
		padding: 2%;
	}
}
