.selectors {
	margin-bottom: 3%;
	margin-top: 3%;
}

.selectors, .field {
	padding: 1%;
}

/*Iniciando locacao*/
.form-session .title-start-rental {
	margin-top: 5%;
	margin-bottom: 2%;
	color: orange;
}

/*Pesquise por uma ...*/
.customers-div .inst-seach, .field-seach .inst-seach {
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.field-seach .inst-seach {
	margin-bottom: 3%;
}

/*Link para iniciar locacao*/
.link-start-rental a {

	text-align: center;
	background-color: #11c76f;
	border-color: transparent;
	height: 30px;
	padding: 10%;
	font-size: 15px;
	color: white;
	font-weight: bold;	
}

.link-start-rental a:hover {
	transition: 0.5s;
	background-color: #0e9f59;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
	.selectors {
		margin-bottom: 1%;
		margin-top: 0%;
	}

	/*Pesquise por uma ...*/
	.customers-div .inst-seach {
		text-align: left;
		margin-left: 5%;
		margin-bottom: 2%;
	}

	.field-seach .inst-seach {
		margin-left: 0%;
	}
}
