@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/*Mobile First*/

/*Titulo e formulario*/
.form-session {
	display: block;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/*Titulo e subtitulo*/
.title {
	color: #0e9f59;
	margin-bottom: 3%;
}

/*Campos*/
.field input {
	display: block;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 2px 10px;
	margin-bottom: 3%;
	margin-top: 3%;
}

/*Check-box*/
.check {
	margin-bottom: 3%;
}

/*Entrar - Button*/
.actions button {
	margin-bottom: 3%;
	width: 70%;
	background-color: #11c76f;
	border-color: transparent;
	height: 50px;
	border-radius: 25px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.actions button:hover {
	transition: 0.5s;
	background-color: #0e9f59;
}
/*Responsividade*/

/*Desktop*/
@media screen and (min-width: 1000px){
	/*Campos*/
	.field input, .actions button {
		width: 30%;
		margin-bottom: 1%;
		margin-top: 1%;
	}
	
	/*Entrar - Button*/
	.actions button {
		width: 20%;
	}

	/*Check-box*/
	.check {
		margin-bottom: 1%;
	}	
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1000px){
	/*Campos*/
	.field input, .actions button {
		width: 50%;
		margin-bottom: 1%;
		margin-top: 1%;
	}

	/*Entrar - Button*/
	.actions button {
		width: 30%;
	}
}



