<h3 class="link-to-back"><%= link_to 'Voltar', root_path%></h3>

<div class="customers-div">
	<h1>Fabricantes</h1>
	
	<% if @user.admin? %>
		<h3><%= link_to 'Registrar novo fabricante', new_manufacturer_path %></h3>
	<% end %>	

	<% if @manufacturers.empty? %>
		<%= 'Nenhum fabricante cadastrado' %>
	<% end %>

	<% @manufacturers.each do |manu| %>
		<div class="each-manufacturer">
			<%= link_to manu.name, manu %>
		</div>
	<% end %>
</div>
